:root {
    --main-color: #170B36;
    --secondary-color: #A69BA9;
    --red-color: #7a2020;

    --main-color-hover: #13092C;
    --secondary-color-hover: #A093A3;
    --red-color-hover: #8a2222;

    --main-color-disabled: rgba(23, 11, 54, 0.75);
    --secondary-color-disabled: rgba(160, 147, 163, 0.75);
    --red-color-disabled: rgba(138, 34, 34, 0.75);

    --toastify-color-progress-light: #170B36;

}