.primaryButton {
    color: white;
    background-color: var(--main-color);
    border: transparent;
    border-radius: 5px;

    cursor: pointer;

    font-size: 100%;
}

.primaryButton:hover {
    background-color: var(--main-color-hover);
}

.primaryButton:active {
    animation-name: primaryButtonPressed;
    animation-duration: 100ms;
}

.primaryButton:disabled {
    cursor: default;
    background-color: var(--main-color-disabled);
    color: rgba(255, 255, 255, 0.5);
}

@keyframes primaryButtonPressed {
    50% {
        transform: scale(0.95);
    }
}