.secondaryButton {
    color: white;
    background-color: var(--secondary-color);
    border: transparent;
    border-radius: 5px;

    cursor: pointer;

    font-size: 100%;
}

.secondaryButton:hover {
    background-color: var(--secondary-color-hover);
}

.secondaryButton:active {
    animation-name: secondaryButtonPressed;
    animation-duration: 100ms;
}

.secondaryButton:disabled {
    cursor: default;
    background-color: var(--secondary-color-disabled);
    color: rgba(255, 255, 255, 0.5);
}

@keyframes secondaryButtonPressed {
    0% {
        width: 15%;
        height: 50px;
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        width: 15%;
        height: 50px;
    }
}