.loginForm {
    display: flex;
    flex-direction: column;

    width: 30%;
    margin: 0 auto;
}

.loginInput {
    margin-top: 6px;
    height: 38px;
    padding: 9px 0 7px 8px;
    font-size: 16px;
}

.loginButton {
    margin-top: 14px;
    height: 38px;
}

.loginSubform {
    margin-top: 28px;
    text-align: center;
}