.noteForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin: 0 auto;
}

.inputField {
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.title {
    width: 100%;
    height: 50px;

    font-size: 2rem;
    text-align: center;
}

.noteText {
    width: 100%;
    height: 100%;

    padding: 15px 20px;
    margin-top: 15px;
    line-height: 32px;

    font-size: 1rem;

    overflow-y: hidden;
}

.saveButton {
    width: 25%;
    height: 50px;

    margin-top: 15px;
}

.title:focus::placeholder {
    color: transparent;
}