.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logoutButton {
    width: 15%;
    height: 50px;
}

.logo {
    width: 200px;
    margin: 25px auto;
}