.showNote {
    margin: 0 auto;

    border: 2px solid var(--main-color);
    border-radius: 5px 10px 0 0;
    word-wrap: break-word;
}

.showHeading {
    text-align: center;
}

.headingContentLine {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--main-color);
}

.showContent {
    padding: 10px 20px;
    font-size: 16pt;
    line-height: 32px;
    white-space: pre-line;
}

.showContentControlButtons {
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.deleteButton {
    width: 15%;
    height: 50px;

    margin: 15px 0 0 15px;
}

.editButton {
    width: 15%;
    height: 50px;

    margin: 15px 0 0 15px;
}